.nav-gia-frontend {
  display: flex;
  justify-content: right;
  margin: 10em 1em;
}

.nav-gia-frontend ul li {
  margin: 10px;
}

#contenedor {
  width: 70%;
  margin: 2em 0px;
}

#contenedor .player {
  max-width: 100%;
  max-height: 250px;
}

/* max-width: 1143px */
@media (min-width: 300px) and (max-width: 1144px) {
  #contenedor {
    width: 100%;
    text-align: center;
  }

  #contenedor .player {
    max-width: 100%;
    max-height: 270px;
  }

  .nav-gia-frontend {
    position: relative;
  }
}
