.card {
  width: 400px;
  margin: auto 10px;
}

.Home {
  margin: 5em 2em auto;
}

.video {
  max-width: 100%;
  max-height: 250px;
}

@media (max-width: 800px) {
  .video {
    max-width: 100%;
    max-height: 200px;
  }
}
