* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.player {
  max-width: 100%;
  max-height: 300px;
}

@media (max-width: 800px) {
  .player {
    max-width: 100%;
    max-height: 270px;
  }
}
